.paymentModalWrapper {
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
}
.paymentModalWrapper header {
    padding: 15px;

    background-color: #474971;
    color: white;

    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
}
.paymentModalWrapper header .userName {
    color: yellow;
}
.paymentModalWrapper .btnCloseModal {
    padding: 0 5px;
    cursor: pointer;
}
.paymentModalWrapper main {
    padding: 15px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.paymentModalWrapper main input[type="text"] {
    padding: 3px;
    font-size: 1.2rem;
    width: 69%;
    border: 1px solid gray;
    border-radius: 5px;
}
.paymentModalWrapper main .valueInputEmpty {
    display: none;
    margin-top: 1px;
    width: 71%;
    text-align: right;
    color: red;
}
.paymentModalWrapper main select {
    padding: 3px 0;
    margin-top: 15px;
    font-size: 1.2rem;
    width: 71%;
    border: 1px solid gray;
    border-radius: 5px;
}
.paymentModalWrapper main button {
    margin-top: 15px;
    padding: 3px;

    display: inline-table;

    font-size: 1.1rem;

    cursor: pointer;
}
.paymentModalWrapper main .imgLoading {
    margin-top: 15px;
    height: 40px;
    display: none;
}
.paymentModalWrapper main .resultPayload {
    margin: 20px auto;
}
.paymentModalWrapper main .resultPayload .bold {
    font-weight: bolder;
}
